%html
  %head
    %link{'rel' => "stylesheet", 'href' => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"}/
  %body
    %script{'src' => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
    %div.card-panel.red teste
